
body {
  background-color: rgba(139, 69, 19, 0.8);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.projects__wrapper {
  padding-top: 30px;
}

.projects__heading {
    font-family: Oswald;
    color: #390303;
    margin-top: 50px;
    text-align: center;
}

.projects__description{
    margin-top: 10px;
    color: white;
    background-color: rgba(139, 69, 19, 0.8);
    text-align: center;
    padding: 10px;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 700;

}

@media (max-width: 321px) {
  .swiper-slide {
    width: 250px;
    height: 250px;
  }
}
