body {
  background-color: rgb(234, 227, 227);
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

.text--size-medium {
  font-family: Oswald;
  font-size: 14px;
}

.text--color-black {
  color: black;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.person-title {
  font-family: Oswald;
  font-size: 28px;
  color: #fff;
  margin-top: 35px;
}

.person-info {
  font-family: Oswald;
  font-size: 24px;
  color: #fff;
}

.offer__wrapper {
  padding: 40px;
  color: #390303;
}

strong {
  font-family: Oswald;
  font-size: 16px;
}
.offer__title {
  font-family: Oswald;
  font-size: 36px;
  margin-bottom: 20px;
}

.contacts-section {
  font-family: Oswald;
  padding: 40px;
  color: #390303;
}

.contact-info {
  font-family: Oswald;
  font-size: 16px;
}

.contact-link {
  margin-left: 5px;
}

.contact-link:hover {
  text-decoration: underline;
}

@media (max-width: 769px) {
  .offer__wrapper {
    padding: 20px;
    width: 620px;
  }
}

@media (max-width: 521px) {
  .offer__wrapper {
    padding: 10%;
    max-width: 80%;
    width: 100%;
  }
}
@media (max-width: 426px) {
  .offer__wrapper {
    padding: 10%;
    max-width: 80%;
    width: 100%;
  }
  
  .offer__wrapper p {
    font-size: 12px;
  }
  .offer__wrapper li {
    font-size: 12px;
  }
  strong {
    font-size: 12px;
  }
  .offer__title {
    font-size: 24px;
    margin-bottom: 15px;
  }
}
@media (max-width: 376px) {
  .offer__wrapper {
    padding: 10%;
    max-width: 80%;
    width: 100%;
  }
}
@media (max-width: 321px) {
  .offer__wrapper {
    padding: 10%;
    max-width: 80%;
    width: 100%;
  }
  .offer__wrapper p {
    font-size: 12px;
  }
  .offer__wrapper li {
    font-size: 12px;
  }
  strong {
    font-size: 12px;
  }
  .offer__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
