body {
    background-color: rgb(234, 227, 227);
}

h1,h2,h3,h4,h5,p{
    padding: 0;
    margin: 0; 
  }

.text--size-medium {
    font-family: Oswald;
    font-size: 14px;
}

.text--color-black {
    color: black;
}

.avatar{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.person-title{
    font-family: Oswald;
    font-size: 28px;
    color: #fff;
    margin-top: 35px;
}

.person-info{
    font-family: Oswald;
    font-size: 24px;
    color: #fff;
}  

.offer__wrapper {
    padding: 40px;
}

strong {
    font-family: Oswald;
    font-size: 16px;
}
.offer__title{
    font-family: Oswald;
    font-size: 36px;
    margin-bottom: 20px;
}

.contacts-section{
    font-family: Oswald;
    padding: 40px;
}

.contact-info{
    font-family: Oswald;
    font-size: 16px;
}

.contact-link {
  margin-left: 5px;
}

.contact-link:hover {
    text-decoration: underline;
  }

  /* .navLink {
 color: red !important;
  }
  &.active {
    background-color: hsl(204 100% 40%) !important;
    color: hsl(204 20% 100%) !important;
  }
 */
